

        .menu {
            list-style: none;
            margin: 0;
            padding-left: 0;
            display: flex;
            justify-content: center;
        }

        .menu a {
            padding: 20px 20px;
            display: block;
            text-decoration: none;
            color: white;
        }

        .menu__item {
            position: relative;
        }

        .menu__item:hover>.sub-menu-shadow {
            display: block;
        }

        .menu .sub-menu-shadow {
            position: absolute;
            display: none;
        }

        .dropdown-holder {
            position: absolute;
            width: 100%;
            left: 0;
            top: 100%;
        }

        .dropdown__bg,
        .dropdown__arrow {
            position: absolute;
        }

        .dropdown__arrow {
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent white;
            top: -20px;
            opacity: 0;
            transition: 0.2s ease;
            pointer-events: none;
        }

        .dropdown__bg {
            width: 450px;
            height: 400px;
            background-color: white;
            opacity: 0;
            transition: 0.25s ease;
            border-radius: 5px;
            overflow: hidden;
            z-index: 3;
        }

        .dropdown__bg-bottom {
            background-color: #fafafa;
            position: absolute;
            width: 100%;
            left: 0;
            top: 300px;
            height: 700px;
            transition: 0.3s ease;
        }

        .dropdown__wrap {
            overflow: hidden;
            position: absolute;
            transition: 0.25s ease;
            z-index: 4;
        }

        .dropdown__wrap .top-section,
        .dropdown__wrap .bottom-section {
            padding: 20px;
        }

        .dropdown-menu__content {
            position: absolute;
            opacity: 0;
            transition: 0.25s ease;
            min-width: 200px;
        }

        .dropdown-menu__content ul {
            list-style: none;
            padding-left: 0;
            margin: 0;
        }

        .dropdown-menu__content a {
            color: inherit;
            text-decoration: none;
            display: block;
            padding: 5px 0;
        }

        .dropdown-menu__content a:hover {
            color: #333;
        }

        .dropdown-menu.active .dropdown-menu__content {
            opacity: 1;
        }

        #product .dropdown-menu__content {
            width: 640px;
        }

        #developer .dropdown-menu__content {
            width: 400px;
        }

        .col-2 {
            display: flex;
        }

        .col-2>ul,
        .col-2>div {
            flex: 1 0 150px;
        }

        #product .col-2 li {
            display: block;
            padding: 20px 20px 10px;
        }

        #product .col-2 li h6 {
            font-size: 18px;
            margin: 0 0 10px;
            color: turquoise;
        }

        #product .col-2 li .z {
            color: #999;
            margin: 0;
        }

        .menu-title {
            margin: 0 0 10px;
            font-size: 18px;
            color: #2196F3;
        }

        .info {
            line-height: 1.7;
        }

        .subMenuText {
            color: #999;
        }


        h6 {
            color: #444;
            z-index: 8;
        }

        .z {
            color: #45a2db;
            z-index: 8;
        }

        .first-menu {
            z-index: 8;

        }
        .max-size {
            max-width: 20px;
            max-height: 15px;
        }
        .third-menu {
            color: #a1a1a1;
            z-index: 8;
        }
